* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    color: #fff;
    padding: 20px 0;
    
    position: relative;
    z-index: 1000;
}
h3 {
    color: #364e96;/*文字色*/
    padding: 0.5em 0;/*上下の余白*/
    border-top: solid 3px #364e96;/*上線*/
    border-bottom: solid 3px #364e96;/*下線*/
}

header h1 {
    margin-top: 100px;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: #333;
}

nav {
    margin-top: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 20px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
}

nav ul li a:hover {
    color: #831c1c;
}

.container {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: auto;
}

main {
    padding: 20px 0;
}

.aspect-ratio-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 の比率 (9 / 16 * 100 = 56.25%) */
}

.aspect-ratio-container .blog-posts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


article {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    min-width: 300px;
    height: 250px; /* 固定の高さを指定 */
    overflow: auto; /* コンテンツが多い場合はスクロール */
    margin: 0 auto; /* 自動で中央揃え */
}

article a {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    min-width: 300px;
    height: 800px; /* 固定の高さを指定 */
    margin: 0 auto; /* 自動で中央揃え */
}


article p {
    
   
    margin-bottom: 0.5cm; /* 段落の下に1センチの余白 */
}
    
.content {
    background-color: #fff; /* 背景を白に設定 */
    padding: 20px; /* 内側に余白を追加 */
    margin-bottom: 20px; /* 下に余白を追加 */
    border-radius: 8px; /* 角を少し丸める */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* ボックスに影を追加 */
    max-width: 800px;
    text-align: center; /* 画像とテキストの中央揃え */
    margin: 0 auto; /* 中央揃えのために自動マージン */
}


article h2 {
    margin-bottom: 10px;
    color: #333;
}

.date {
    font-size: 0.9rem;
    color: #777;
}

.read-more {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

/* ボタンのスタイル */
.button {
    background-color: #000000;  
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}




.image-container {
   width: 100%;
    max-width: 800px;
    position: relative;
    display: inline-block;
    margin: 20px auto;
    text-align: center;
}

.image-container1 {
    width: 100%;
     max-width: 800px;
     position: relative;
     display: inline-block;
     margin: 20px 120px;
     text-align: center;
 }
 .image-container2 {
    width: 100%;
     max-width: 800px;
     position: absolute;
     right:0px;
     bottom:10px;
     display: inline-block;
     margin: 20px 100px;
     text-align: center;
 }

.research-image {
    width: 60%;
    padding:10px;
    height: auto;
    display: block;
}

.image-caption {
    font-size: 1.2rem;
    text-align: left;
    text-indent: 1.2em; /* インデントの幅を設定 */
    color: #333;
    margin-top: 10px;
    padding: 0 10px; /* 必要に応じて左右に余白を追加 */
    box-sizing: border-box;
    word-wrap: break-word; /* 文字が長くなる場合に折り返す */

}

.image-captiona {
    font-size: 1.2rem;
    text-align: left;
    
    color: #333;
    margin-top: 10px;
    padding: 0 10px; /* 必要に応じて左右に余白を追加 */
    box-sizing: border-box;
    word-wrap: break-word; /* 文字が長くなる場合に折り返す */

}

.image-captiona1 {
    font-size: 1.2rem;
    text-align: left;
    
    color: #333;
    margin-top: 10px;
    padding: 0 10px; /* 必要に応じて左右に余白を追加 */
    box-sizing: border-box;
    word-wrap: break-word; /* 文字が長くなる場合に折り返す */

}

h3 {
    color: #364e96;/*文字色*/
    padding: 0.5em 0;/*上下の余白*/
    border-top: solid 3px #364e96;/*上線*/
    border-bottom: solid 3px #364e96;/*下線*/
  }
  h4 {
    position: relative;
    background: #f4f4f4;
    padding: 2px 5px 2px 20px;
    font-size: 20px;
    color: #474747;
    border-radius: 0 10px 10px 0;
  }
  
  /*h4:before {
    font-family: "Font Awesome 5 Free";
    content: "\f041";
    display: inline-block;
    line-height: 40px;
    position: absolute;
    padding: 0em;
    color: white;
    background: #ff6363;
    font-weight: 900;
    width: 40px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    left: -1.35em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.29);
  }*/



.read-more:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
/* 画像の共通スタイル */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* ヘッダーの画像 */
.header-image1 {
    width: 300px;
    height: auto;
    display: block;
    float: right;
    margin: 0px -300px;
}

.header-image2 {
    width: 300px;
    height: auto;
    display: block;
    float: left;
    margin: 0px -300px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ナビゲーションの下の画像 */
.nav-image {
    width: 728px;
    height: 140px;
    display: block;
    margin: 20px auto;
}

/* キャプションの下の画像 */
.caption-image1{
    width: 728px;
    height: 140px;
    display: block;
    float: center;
    margin: 0px auto;
}
.caption-image2{
    width: 250px;
    height: 600px;
    display: block;
    float: right;
    margin: 20px -300px;
}
.caption-image3{
    width: 250px;
    height: 600px;
    display: block;
    float: left;
    margin: 20px -300px;
}

.image-container::after {
    content: "";
    display: table;
    clear: both;
}


/* ブログ記事の下の画像 */
.blog-image {
    width: 728px;
    height: 120px;
    display: block;
    margin: 20px auto;
}
.blog-imagea {
    width: 334px;
    height: 270px;
    display: block;
    margin: 20px auto;
}

.blog1-imagea {
    width: 623px;
    height: 228px;
    display: block;
    margin: 20px auto;
}

/* 固定画像のスタイル */
.fixed-image-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    text-align: center;
}

.fixed-top-image {
    width: 628px;
    height: 120px;
    display: block;
    margin: 0 auto;
}

/* 画像コンテナと×ボタンのスタイル */
/*.image-container {
    position: relative;
    display: inline-block;
    margin: 20px;
    text-align: center;
}*/
/* 広告バナー部分のスタイル */
/*.ad-banner {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 5px;
}

/* 広告ラベルのスタイル */
.ad-label {
    font-size: 14px;
    color: black;
    margin-right: 50px; 
}


/* ×ボタンのスタイル */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    color: blue;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    z-index: 10; /* 画像の上にボタンを表示するためにz-indexを設定 */
}
.close-btn1 {
    position: absolute;
    background-color: white;
    color: blue;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    top: 50%; /* 親要素の中央に配置するため、上下中央の位置を50%とします */
  left: 95%; /* 親要素の中央に配置するため、左右中央の位置を50%とします */
  transform: translate(-50%, -50%); /* 子要素の左上の位置を子要素の中央に合わせるため、左上の位置を50%ずらします */
}


  
    
.close-btn2 {
    position: absolute;
    top: 10px;
    right: 800px;
    background-color: white;
    color: blue;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    z-index: 10; /* 画像の上にボタンを表示するためにz-indexを設定 */
}


.close-btn:hover {
    background-color: darkred;
}
.close-btn1:hover {
    background-color: darkred;
}
.close-btn2:hover {
    background-color: darkred;
}

/* その他のスタイル */
.container {
    padding: 20px;
    text-align: center;
}

.button-wrap {

    text-align: center;
}

